nav.navbar.navbar-default
    .container
        ul.nav.navbar-nav
            li.active
                a(href='/') Home
                span.sr-only (current)
            li
                a(href='/about') About
            li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Tools
                    span.caret
                ul.dropdown-menu(role='menu')
                    li
                        a(href='#') Action
                    li
                        a(href='#') Another action
                    li
                        a(href='#') Something else here
                    li.divider
                    li
                        a(href='#') Separated link
                    li.divider
                    li
                        a(href='#') One more separated link
