.btn-group.pull-right(ng-controller="Toolbar")
    button.btn.btn-default.btn-xs(ng-click='minimize()', type='button')
        span.glyphicon.glyphicon-minus
    button.btn.btn-default.btn-xs(ng-click='toggleFullscreen()', type='button')
        span.glyphicon.glyphicon-fullscreen
    button.btn.btn-default.btn-xs(ng-click="close()", type='button')
        span.glyphicon.glyphicon-remove