doctype html
html(ng-app="fileExplorer")
    head
        title= FilesExplorer
        link(rel='stylesheet', href='css/app.css')
        link(rel='stylesheet', href='libs/bootstrap/dist/css/bootstrap.min.css')
        script(src='libs/angular/angular.min.js')
        script(src='libs/jquery/dist/jquery.min.js')
        script(src='libs/bootstrap/dist/js/bootstrap.min.js')
        script(src='js/app.js')

    body
        div.container
            include partials/head
            h1 Here all the files will be listed